@import "bootstrap/scss/bootstrap";

$primary:       $blue !default;

$secondary:     $gray-600 !default;

$success:       $green !default;

$info:          $cyan !default;

$warning:       $yellow !default;

$danger:        $red !default;